/****************************************************************
 *  Powered by GongKia.com
 *  Author : Ivan Yew           Email    : ivaneyew@gmail.com
 *  URL    : ivan.gongkia.com   Facebook : fb.me/ivan8i
 *  Last Update : 2016/04/13 9:48pm
 ****************************************************************/

body {
  padding-top: 50px;
}

.navbar {
  &-inverse {
    margin-bottom: 0;
    border-bottom: 0;
  }
}