@import "include/variables";

body {
  padding-top: 5rem;
}

/// Navbar
.navbar {
  /// Navbar Inverse
  &-inverse {
    margin-bottom: 0;
    border-bottom: 0;
  }
  /// Navbar Custom
  &-custom {
    background-color: $navbar-custom-bg;
  }
}

/// Main content
.main {
  &-content {
    margin-top: 2.5rem;
    .jumbotron {
      background-color: #e5e8ea;
      h2 {
        margin-top: 0;
        font-size: 2.8rem;
      }
    }
  }
}