body {
  padding-top: 5rem;
}

.navbar {
  &-inverse {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

/// Main content
.main {
  &-content {
    margin-top: 2.5rem;
    .jumbotron {
      background-color: #e5e8ea;
      h2 {
        margin-top: 0;
        font-size: 2.8rem;
      }
    }
  }
}